@page
@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <div class="col-md-9">
            <div class="product-info">
                <h3>Mug</h3>
                <ul>
                    <li>Price: $9.990</li>
                    <li>Artist: Van Gough</li>
                    <li>Title: </li>
                    <li>Description: Self-portrait</li>
                </ul>
                <button id="buybutton" class="btn btn-success">Buy</button>
            </div>
        </div>
        <div class="col-md-3">
            <p>This is a fun site to do some buying of dutch products.</p>
        </div>
    </div>
